/* pallet 
 color dark gray #4B4B4B
*/
/* Basic setup! */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: rgb(29, 29, 29);
  font-family: "Heebo", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

h4 {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 300;
  letter-spacing: 1px;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* Reusable components. */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

/* Header */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.85)),
    url(img/t3Backgrownd01.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

span {
  color: #ff7035;
}

.logoTop {
  height: 15%;
  width: 15%;
  margin-top: 20px;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 20px;
}

.main-nav li {
  display: inline-block;
  letter-spacing: 1px;
  font-size: 1.6vw;
  transform: 0.6s;
}

.main-nav li a {
  display: block;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: 300;
  transition: 0.5s;
}

.main-nav li a:hover {
  color: #ff7035;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero-text-box {
  animation: 2s ease-in 0s 1 fadeIn;
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 2.5vw;
  text-align: center;
  transform: translate(-50%, -50%);
}

.caption {
  font-size: 45%;
  letter-spacing: 2px;
  color: #ff7035;
}

/* Features */

.section-features h2, .section-products h2 {
  text-align: center;
  margin-top: 70px;
  font-size: 250%;
}

.section-features h2:after, .section-products h2:after{
  display: block;
  height: 1px;
  background-color: #ff7035;
  content: "";
  width: 400px;
  margin: 20px auto 0 auto;
}

.section-features {
  background-color: #ebebeb;
  box-shadow: 
  inset 0px 11px 28px -15px #313131,
  inset 0px -11px 8px -15px #313131; 
  box-sizing: border-box;
}

#canvas1{
  position: relative;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}

.section-products{
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.75)),url(img/nasa-Q1p7bh3SHj8-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 150vh;
  background-attachment: fixed;
}

.products-conteiner{
  position: relative;
  top:-1400px;
}

.feature-card {
  width: 300px;
  height: 300px;
  background-color: #fff;
  border-radius: 2%;
  border: none;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: 300ms ease-in-out;
}

.feature-card:hover{
  box-shadow: 30px 30px 12px 0 rgba(0, 0, 0, 0.3);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  margin-left: 30px;
  padding: 80px 0;
}

.grid > article {
  border: none;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: 0.3s;
}

.grid > article:hover {
  transform: translateY(10px);
  box-shadow: 2px 2px 26px 0 rgba(0, 0, 0, 0.3);
}

.Vgrid {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.videos-conteiner{
  margin-top: 70px;
}

.logo-features {
  margin-top: 5%;
  margin-bottom: 5%;
  height: 20%;
  width: 20%;
  align-self: center;
}

.feature-card p {
  margin-top: 20px;
  font-size: 75%;
  text-align: center;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 0 10%;
  margin-bottom: 10%;
}

.feature-card h3 {
  text-align: center;
}

.video-size{
  width:500px;
  height: 270px;
}

.section-contacts{
  background-color: rgb(21, 21, 21);
  height: 250px;
  width: 100%;
}

.section-contacts img {
  height: 32px;
  width: 32px
}

.contacts{
  position: relative;
  height: 100px;
  font-size: 100%;
}

.c-nav {
  float: left;
  list-style: none;
  margin-top: 20px;
}

.c-nav li {  
  letter-spacing: 1px;
  font-size: 1vw;
  transform: 0.6s;
}

.c-nav li a {
  display: block;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: 300;
  transition: 0.5s;
}

.c-nav span{
  left:10px;
}

.contacts-conteiner{
  position: relative;
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  margin-top: 67px;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.section-free-softwere{
  
  background: #ebebeb;
  height: 400px;
  width: 100vw;
}

img{
  height: 250px;
  width: 500px;
  border-radius: 10px;
}


.free-softwere-card{
  position: relative;
  top: 50px;
  margin-left: 22%;
  background-color: #fff;
  height: 300px;
  width: 1000px;
  padding: 20px 35px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
  transition: 300ms ease-in-out;
}

#sf1{
  float: right;
  width: 40%;
}

#sf2{
  float: left;
  width: 40%;
}

.free-softwere-card:hover{
  box-shadow: 30px 30px 12px 0 rgba(0, 0, 0, 0.3);
}

a{
  color: #313131;
  text-decoration: none;
}

a:visited{
  color: #313131;
  text-decoration: none;
}